tools/llvm-mingw*/
tools/llvm-mingw.zip
tools/inno-setup/
tools/innosetup-*.exe
third_party/ecdict.csv
build/
/%SystemDrive%/
data/dictionary.tsv
__pycache__/
*.download
tools/reference-*
third_party/ecdict.mini.csv
drone-concept/
.env
.env.*
*.pfx
*.pem
releases/EType-0.2.*-Setup.exe
releases/EType-0.3.*-Online-Setup.exe
